<nav>
  <a href="/">Home </a>
  <a href="/about">About-us</a>
  <a href="/packages"> packages </a>
  <a href="/sign-up"> sign up </a>
  <a href="/feedbacks"> feedbacks </a>
  <a href="/api">API</a>
</nav>
