<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <center><h1>available packages</h1></center>
  <p>
   <div class="texts">

    <h2>gold</h2>
    <h2>gold</h2>
    <h2>gold</h2>
   </div>
  </p>
    <p><%- include("./partials/nav.ejs") %></p>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
